
body{
  background-color: #B9F8D3;
}

p{
  color:#FFFBE7;
  font-family: helvetica;
  text-align:center;
}

h1{
    color:#FFFBE7;
  font-family:helvetica;
  text-align:center;
}
img:hover{
  background-color: red;
  border-radius:80%;
}
.tofu{
  display: block;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bacon{
  display: block;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#paragraph{
  color:blue;
}
